/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : April 26, 2017, 8:16:59 PM
    Author     : kwame ampem
*/

.tiles-heading,
.tiles-body,
.tiles-footer {
  -webkit-transition: 0.05s ease-in;
  -o-transition: 0.05s ease-in;
  transition: 0.05s ease-in;
}
.info-tiles,
.shortcut-tiles {
  margin: 0px 0px 20px;
  display: block;
  border-radius: 3px;
}
a.info-tiles,
a.shortcut-tiles {
  background: none;
}

