
<nav class="navbar navbar-inverse navbar-fixed-top" style="background:black;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Vehicle History</a>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
            
          <ul class="nav navbar-nav">
            <li><a href="/hot">Hot</a></li>
            <li><a href="/new">New</a></li>

          </ul>              

                            <div class="input-group col-md-8"  style="width:40%;margin: 0 auto; margin-top: 8px;">
                                <input type="text"  ng-model="searchTerm" class="  search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <a class="btn btn-danger" type="button" ng-href="/search/{{searchTerm}}" >
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </a>
                                </span>
                            </div>                                          
            
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="row" style="padding-top:100px;">
    <div class="container">

        <div class="col-sm-9 col-md-10 " ng-repeat="feed in newsfeed" style="margin-top:10px;">
            <div class="col-md-2"><img class="img-responsive" ng-src="{{feed.thumbnail}}" /></div>
            
            <div class="col-md-10"><a ng-href="{{feed.url}}" target="_blank" title="{{feed.title}}"><p>{{feed.title}}</p></a></div>
        </div>
        
        <div class="col-md-12" style="text-align: center;">
            <button class="button btn-default" ng-show="back" ng-click="loadmore('back')">Previous</button>            
        <button class="button btn-default" ng-show="forward" ng-click="loadmore('forward')">Next</button>
        </div>
    </div>
